framework: >= net40
redirects: on
source https://www.nuget.org/api/v2

nuget FSharp.Core >= 3.1 lowest_matching: true
nuget Newtonsoft.Json >= 6.0.5

github eiriktsarpalis/TypeShape:2.17 src/TypeShape/TypeShape.fs

group Test
  framework: >= net40
  redirects: on
  source https://www.nuget.org/api/v2

  nuget FSharp.Core 4.2.1
  nuget FsCheck >= 2.6
  nuget FSharp.Charting >= 0.90.14
  nuget FsUnit >= 1.4.1
  nuget PerfUtil
  nuget PerfUtil.NUnit
  nuget protobuf-net
  nuget Wire
  nuget NUnit ~> 2.6
  nuget NUnit.Runners ~> 2.6
  nuget System.ValueTuple
  
group Build
  framework: >= net40
  redirects: on
  source https://www.nuget.org/api/v2

  nuget FAKE
  nuget FSharp.Core 4.2.1
  nuget FSharp.Formatting ~> 2.14.4
  github fsharp/FAKE modules/Octokit/Octokit.fsx