framework: auto-detect
redirects: force
source https://www.nuget.org/api/v2

nuget FSharp.Core >= 4.2.1 lowest_matching: true
nuget Newtonsoft.Json >= 10.0.1 lowest_matching: true
nuget SourceLink.Create.CommandLine copy_local: true

github eiriktsarpalis/TypeShape:3.1.1 src/TypeShape/TypeShape.fs

group Legacy
  framework: net45
  source https://www.nuget.org/api/v2
  redirects: force

  nuget FSharp.Core >= 3.1 lowest_matching:true
  nuget Newtonsoft.Json >= 6.0.5 lowest_matching: true

group Test
  framework: >= net40
  redirects: on
  source https://www.nuget.org/api/v2

  nuget FSharp.Core 4.2.1
  nuget FsCheck >= 2.6
  nuget FSharp.Charting >= 0.90.14
  nuget FsUnit >= 1.4.1
  nuget PerfUtil
  nuget PerfUtil.NUnit
  nuget protobuf-net
  nuget Wire
  nuget NUnit ~> 2.6
  nuget NUnit.Runners ~> 2.6
  nuget System.ValueTuple
  
group Build
  framework: >= net40
  redirects: on
  source https://www.nuget.org/api/v2

  nuget FAKE ~> 4.0
  nuget FSharp.Core 4.2.1
  nuget FSharp.Formatting ~> 2.14.4
  github fsharp/FAKE modules/Octokit/Octokit.fsx