framework: >= net35
redirects: on
source https://www.nuget.org/api/v2

nuget FsCheck
nuget FSharp.Charting
nuget FSharp.Core >= 3.1.2.5
nuget FsUnit
nuget Newtonsoft.Json >= 6.0.5
nuget PerfUtil
nuget PerfUtil.NUnit
nuget protobuf-net
nuget Wire
nuget FSharp.Formatting
nuget NUnit ~> 2.6
nuget NUnit.Runners ~> 2.6
nuget FAKE
nuget TaskParallelLibrary framework:net35
nuget System.ValueTuple
github fsharp/FAKE modules/Octokit/Octokit.fsx

github eiriktsarpalis/TypeShape:1.0 src/TypeShape/TypeShape.fs
github eiriktsarpalis/TypeShape:1.0 src/TypeShape/ISerializableExtensions.fs